@font-face {
    font-family: Martel;
    src: url("./../assets/fonts/Martel-Regular.ttf");
}

@font-face {
    font-family: Martel-bold;
    src: url("./../assets/fonts/Martel-ExtraBold.ttf");
}


@font-face {
    font-family: Open_sans;
    src: url("./../assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: Montserrat;
    src: url("./../assets/fonts/Montserrat-VariableFont_wght.ttf");
}

.body {
    max-width: 1440px;
    margin: 0 auto;
}

.start{
    background-image: url("./../assets/img/cover.png");
    height: 770px;
}

.start_header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.start_header > img{
    padding-bottom: 4px;
    padding-right: 59.5px;
}

.start_header_container{
    display: flex;
    margin-top: 38px;
    margin-left: 195px;
    column-gap: 148px;
    align-items: center;
}

.start_header_container_nav{
    margin-top: 2px;
    display: flex;
    column-gap: 29px;
}

.start_header_container_nav a{
    text-decoration: none;
    font-family: Open_sans;
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.start_content{
    margin-top: 166px;
    margin-left: 195px;
}

.start_content p{
    margin: 0;
}

.start_content h1{
    font-family: Martel-bold;
    color: #252B42;
    font-weight: bolder;
    font-size: 58px;
    line-height: 65px;
    letter-spacing: 1px;
    margin-bottom: 34px;
}

.start_content h4{
    font-family: Montserrat;
    color: #737373;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
}

.start_content_btns {
    margin-left: 1px;
    display: flex;
    column-gap: 10px;
}

.start_content_btns button{
    padding: 9px 37px;
    color: #784F33;
    font-family: Open_sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
    border: #784F33 solid 1px;
    background-color: transparent;
    border-radius: 37px;
}

.start_content_btns button:hover{
    background-color: #784F33;
    color: #FFFFFF;
    cursor: pointer;
}

.featur
{
    background-color: #FFFFFF;
    
}

.featur_content
{
    margin-top: 145px;
    margin-left: 193px;
    margin-bottom: 45px;
    margin-right: 200px;
}

.featur_content h2
{
    color: #252B42;
    font-family: Martel;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.featur_content p
{
    font-family: Open_Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
}

.featur_cont
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 42px;
    margin-bottom: 44px;
}

.featur_cont div div
{
    height: 72px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #295C7A;
    border-radius: 50%;
    margin: 20px;
    margin-right: 0;
}

.featur_cont div
{
    display: flex;
    column-gap: 15px;
    margin: 0;
    align-items: center;
    background: #FAFAFA;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.featur_cont div h4
{
    font-family: Open_Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #737373;
}

.featur_content_btns {
    margin-left: 1px;
    display: flex;
    column-gap: 10px;
    margin-bottom: 157px;
}

.featur_content_btns button{
    padding: 9px 37px;
    color: #295C7A;
    font-family: Open_sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.3px;
    border: #295C7A solid 1px;
    background-color: transparent;
    border-radius: 37px;
}

.featur_content_btns button:hover{
    background-color: #295C7A;
    color: #FFFFFF;
    cursor: pointer;
}

.who
{
    text-align: center;
}

.who_content
{
    padding-top: 68px;
}

.who_content h4 
{
    margin: 0;
    font-family: Open_sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.who_content h4 p
{
    margin: 0;
}

.who_content h2
{
    margin-bottom: 15px;
    font-family: Martel;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
}

.who_cont
{
    display: flex;
    margin-top: 100px;
    margin-left: 196.5px;
    column-gap: 121.5px;
    align-items: flex-start;
    background-color: #FAFAFA;
}

.who_cont_text p
{
    margin: 0;
}

.who_cont_text
{
    text-align: left;
}

.who_cont_text h2
{
    font-family: Martel;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
    margin-top: 29px;
}

.who_cont_text h4
{
    font-family: Open_Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
    margin-bottom: 50px;
}

.who_cont_text div h3
{
    font-family: Martel;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0;
    margin-bottom: 5px;
}

.who_cont_text div h4
{
    font-family: Open_Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.6px;
    color: #737373;  
    margin: 0;  
    margin-bottom: 30px;
}

.who_cont_text div
{
    display: flex;
    align-items: flex-start;
    column-gap: 21px;
}

.who_cont_text div div
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.who_cont_text div img
{
    width: 30px;
   
    
}